body {
  background-color: black;
  list-style-position: inside;
  font-size: 1.5em;
  text-align: left;
  padding: 16px;
  margin: 6px;
}

h2 {
  text-align: center;
}

h2.modify-00 {
  font-weight: 900;
  color: #0092CA;
  font-style: italic;
}

img {
  height: auto;
  width: 12em;
  float: none;
}

img.float-left {
  float: left;
}

img.float-right {
  float: right;
}

span.color-purple {
  color: purple;
}

.font-controller-left {
  text-align: left;
}

.font-controller-center {
  text-align: center;
}

.border-seperator-horizontal {
  border-bottom-style: solid;
  border-color: black;
  margin: .5em;
  border-width: 4px;
}

div.container-section {
  background-color: #1300D2;
  text-align: center;
}

div.title-section {
  background-color: azure;
  padding: 16px;
  padding-bottom: 12em;
}

div.projects-section {
  background-color: #BF0011;
}

div.background-section {
  background-color: #23FF80;
  text-align: left;
  padding: 10px;
}

div.other-section {
  background-color: azure;
}

.section-color-purple {
  background-color: #B966FF;
}

.section-color-green {
  background-color: #23FF80;
}

.section-color-blue {
  background-color: #0071E2;
}

.need-padding {
  padding: 16px;
}

.list-color ol li {
  color: red;
}

.list-color ul li {
  color: black;
}

.border-small {
  border: 3px solid grey;
  padding: 2px;
  margin: 2px;
}

.border-small-no-sides {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  padding: 2px;
  margin: 2px;
}

@media (max-width: 600px) {
  body {
    background-color: #B052FF;
    list-style-position: inside;
    font-size: 1em;
    text-align: left;
    padding: 16px;
    margin: 6px;
  }
}
